.root {

    -fx-background-color: #1c1c1c;


}

.leftNavigation {
    -fx-background-color: #101223;

}

.mainPanel {
    -fx-background-color: #282A3A;
}

.bottomMusicPlayer {
    -fx-background-color: #1A1A2A;;
}

