.root {

    -fx-background-color: #1c1c1c;


}

.webPanel {
    -fx-background-color: #101223;

}
.LocalPanel {
    -fx-background-color: #282A3A;

}

.mainPanel {
    -fx-background-color: #5B5D6B;
}

.bottomMusicPlayer {
    -fx-background-color: #1A1A2A;;
}

